{% extends "base.html" %}
{% load static i18n %}

{% block script %}
<script src="{%static 'js/plugins/datatables.js'%}"></script>
{% endblock %}

{% block content_nav %}
    <div class="content_nav">
        <div class="location">재고 <i class="fas fa-chevron-right"></i> 기초등록 <i class="fas fa-chevron-right"></i> </div>
        <div class="nav">
          <div class="nav_item" role="button" onclick="location.href='{% url 'products:products_list' %}'">품목관리</div>
          <div class="nav_item active" role="button" onclick="location.href='{% url 'products:companies_list' %}'">거래처관리</div>
          <div class="nav_item" role="button" onclick="location.href='{% url 'products:companies_group_list' %}'">거래처그룹관리</div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="content_row d-flex valign_center">
  <div class="{% if nav_sub_3 == '거래처작성' %} btn_outline_black_active {% else %} btn_outline_black {% endif %} w_50" role="button" style="width:120px; border-radius: 4px; margin-right:10px;" onclick="location.href='{% url 'products:companies_insult' %}'">+ 신규 추가</div>
  <div class="{% if nav_sub_3 == '거래처현황' %} btn_outline_black_active {% else %} btn_outline_black {% endif %} w_50" role="button" style="width:120px; border-radius: 4px; margin-right:10px;" onclick="location.href='{% url 'products:companies_list' %}'">품목현황</div>
</div>

<div class="content_row_line">
  &nbsp;
</div>

<div class="content_row">
  <form id="login_form">
    <table class="table table-flush" id="datatable-basic">
      <thead class="thead-light">
        <tr>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">거래처코드</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">거래처명</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">대표자명</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">전화번호</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">모바일</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">계좌</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">그룹명</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">파일</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-sm font-weight-normal">00001</td>
          <td class="text-sm font-weight-normal">(사)한국선급</td>
          <td class="text-sm font-weight-normal">이형철</td>
          <td class="text-sm font-weight-normal">-</td>
          <td class="text-sm font-weight-normal">-</td>
          <td class="text-sm font-weight-normal">sadf@naver.com</td>
          <td class="text-sm font-weight-normal">-</td>
          <td class="text-sm font-weight-normal">-</td>
          <td class="text-sm font-weight-normal">-</td>
        </tr>
        <tr>
          <td class="text-sm font-weight-normal">00002</td>
          <td class="text-sm font-weight-normal">(사)한국선급</td>
          <td class="text-sm font-weight-normal">이형철</td>
          <td class="text-sm font-weight-normal">-</td>
          <td class="text-sm font-weight-normal">-</td>
          <td class="text-sm font-weight-normal">sadf@naver.com</td>
          <td class="text-sm font-weight-normal">-</td>
          <td class="text-sm font-weight-normal">-</td>
          <td class="text-sm font-weight-normal">-</td>
        </tr>
      </tbody>
    </table>
  </form>
</div>

{% block endscript %}
  <script type="text/javascript">
    if (document.getElementById('datatable-basic')) {
      const dataTableSearch = new simpleDatatables.DataTable("#datatable-basic", {
        searchable: true,
        fixedHeight: false,
        perPage: 7
      });

      document.querySelectorAll(".export").forEach(function(el) {
        el.addEventListener("click", function(e) {
          var type = el.dataset.type;

          var data = {
            type: type,
            filename: "soft-ui-" + type,
          };

          if (type === "csv") {
            data.columnDelimiter = "|";
          }

          dataTableSearch.export(data);
        });
      });
    };
  </script>
{% endblock %}

{% endblock %}


