{% extends "base.html" %}
{% load static i18n %}

{% block script %}
    <script src="{% static 'js/plugins/fullcalendar.min.js'%}"></script>
{% endblock %}

{% block content_nav %}
    <div class="content_nav">
        <div class="location" role="button" onclick="location.href='{% url 'schedules:group_schedule' %}'">일정보기 <i class="fas fa-chevron-right"></i> </div>
        <div class="nav">
            <div class="nav_item" role="button" onclick="location.href='{% url 'schedules:group_schedule' %}'">전체일정</div>
            <div class="nav_item" role="button" onclick="location.href='{% url 'schedules:plan_schedule' %}'">예정일정</div>
            <div class="nav_item active" role="button" onclick="location.href='{% url 'schedules:cancel_schedule' %}'">취소일정</div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="content_row">

    <div class="card card-calendar">
        <div class="card-body p-3">
          <div class="calendar" data-bs-toggle="calendar" id="calendar"></div>
        </div>
      </div>
</div>

{% block endscript %}
<script type="text/javascript">
    var calendar = new FullCalendar.Calendar(document.getElementById("calendar"), {
      contentHeight: 'auto',
      initialView: "dayGridMonth",
      headerToolbar: {
        start: 'title', // will normally be on the left. if RTL, will be on the right
        center: '',
        end: 'today prev,next' // will normally be on the right. if RTL, will be on the left
      },
      selectable: true,
      editable: true,
      initialDate: '2020-12-01',
      events: [{
          title: 'Call with Dave',
          start: '2020-11-18',
          end: '2020-11-18',
          className: 'bg-gradient-danger'
        },

        
        {
          title: 'Digital event',
          start: '2020-12-07',
          end: '2020-12-09',
          className: 'bg-gradient-warning'
        },

        {
          title: 'Marketing event',
          start: '2020-12-10',
          end: '2020-12-10',
          className: 'bg-gradient-primary'
        },

        {
          title: 'Dinner with Family',
          start: '2020-12-19',
          end: '2020-12-19',
          className: 'bg-gradient-danger'
        },

        {
          title: 'Black Friday',
          start: '2020-12-23',
          end: '2020-12-23',
          className: 'bg-gradient-info'
        },

        {
          title: 'Cyber Week',
          start: '2020-12-02',
          end: '2020-12-02',
          className: 'bg-gradient-warning'
        },

      ],
      views: {
        month: {
          titleFormat: {
            month: "long",
            year: "numeric"
          }
        },
        agendaWeek: {
          titleFormat: {
            month: "long",
            year: "numeric",
            day: "numeric"
          }
        },
        agendaDay: {
          titleFormat: {
            month: "short",
            year: "numeric",
            day: "numeric"
          }
        }
      },
    });

    calendar.render();
  </script>
{% endblock %}
        
{% endblock %}