{% extends "base.html" %}
{% load static i18n %}

{% block script %}
<script src="{%static 'js/plugins/datatables.js'%}"></script>
{% endblock %}

{% block content_nav %}
    <div class="content_nav">
        <div class="location">인사/근태 <i class="fas fa-chevron-right"></i> 근태 <i class="fas fa-chevron-right"></i> </div>
        <div class="nav">
            <div class="nav_item" role="button" onclick="location.href='{% url 'users:vacation_list' %}'">항목관리</div>
            <div class="nav_item active" role="button" onclick="location.href='{% url 'users:vacation_use_list' %}'">휴가사용실적현황</div>
            <div class="nav_item" role="button" onclick="location.href='{% url 'users:vacation_remain' %}'">잔여휴가현황</div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="content_row d-flex valign_center">
  <div class="{% if nav_sub_3 == '휴가사용' %} btn_outline_black_active {% else %} btn_outline_black {% endif %} w_50" role="button" style="width:120px; border-radius: 4px; margin-right:10px;" onclick="location.href='{% url 'users:vacation_use_insult' %}'">+ 휴가 추가</div>
  <div class="{% if nav_sub_3 == '휴가사용실적리스트' %} btn_outline_black_active {% else %} btn_outline_black {% endif %} w_50" role="button" style="width:140px; border-radius: 4px; margin-right:10px;" onclick="location.href='{% url 'users:vacation_use_list' %}'">휴가사용실적현황</div>
</div>
<div class="content_row_line">
  &nbsp;
</div>

<form method="POST" enctype="multipart/form-data" id="insult_form" autocomplete="off" >
  {% csrf_token %} 
  <div class="content_row">
    <div class="row mb-3">
      <div class="col-md-1">
        <label for="type">종류</label>
      </div>
      <div class="col-md-11">
        <select id="type" name="type">
          {% for vacation_type in vacation_list %}
          <option value="{{vacation_type.pk}}">{{vacation_type}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-1">
        <label for="start_date">시작일</label>
      </div>
      <div class="col-md-9">
          <input type="date" id="start_date" name="start_date">
      </div>
      <div class="col-md-2 d-flex">
        <input type="checkbox" id="start_date_morning" name="start_date_morning" style="width:30px; margin-right:10px;" checked><label for="start_date_morning" style="width:100px; margin-right:10px;"> 오전</label>
        <input type="checkbox" id="start_date_afternoon" name="start_date_afternoon" style="width:30px; margin-right:10px;" checked><label for="start_date_afternoon" style="width:100px; margin-right:10px;"> 오후</label>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-1">
        <label for="end_date">종료일</label>
      </div>
      <div class="col-md-9">
          <input type="date" id="end_date" name="end_date">
          {% if form.end_date.errors %}
          <span style="color:red">{{form.end_date.errors}}</span>
          {% endif %}
      </div>
      <div class="col-md-2 d-flex">
        <input type="checkbox" id="end_date_morning" name="end_date_morning" style="width:30px; margin-right:10px;" checked><label for="end_date_morning" style="width:100px; margin-right:10px;"> 오전</label>
        <input type="checkbox" id="end_date_afternoon" name="end_date_afternoon" style="width:30px; margin-right:10px;" checked><label for="end_date_afternoon" style="width:100px; margin-right:10px;"> 오후</label>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-1">
        <label for="user">대상자</label>
      </div>
      <div class="col-md-11">
        <select id="user" name="user">
          <option value="{{user.pk}}" selected>강민성 과장 / 전략기획팀 / ID : 1003</option>
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-1">
        <label for="comment">사유</label>
      </div>
      <div class="col-md-11">
        <input type="text" id="comment" name="comment">
        {% if form.comment.errors %}
        <span style="color:red">{{form.comment.errors}}</span>
        {% endif %}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-1">
        <label for="accepter_1">결재자지정 1</label>
      </div>
      <div class="col-md-11">
        <select id="accepter_1" name="accepter_1">
          {% for accepter in accepter_1 %}
          <option value="{{accepter.pk}}" selected>{{accepter.username}} / {{accepter.level}} / ID : {{accepter.user_number}} </option>
          {% endfor %}
        </select>
        {% if form.accepter_1.errors %}
        <span style="color:red">{{form.accepter_1.errors}}</span>
        {% endif %}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-1">
        <label for="accepter_2">결재자지정 2</label>
      </div>
      <div class="col-md-11">
        <select id="accepter_2" name="accepter_2">
        {% for accepter in accepter_2 %}
        <option value="{{accepter.pk}}" selected>{{accepter.username}} / {{accepter.level}} / ID : {{accepter.user_number}} </option>
        {% endfor %}
        </select>
        {% if form.accepter_2.errors %}
        <span style="color:red">{{form.accepter_2.errors}}</span>
        {% endif %}
      </div>
    </div>
    
    
    <div class="row mt-5">
      <div class="col-md-4">
        &nbsp;
      </div>
      <div class="col-md-4 text-center">
        <div class="d-flex" style="justify-content: center;">
            <div onclick="document.getElementById('insult_form').submit(); this.onclick=null;" class="btn_outline_black w_50" role="button" style="width:120px; border-radius: 4px; margin-right:10px;">휴가 상신</div>
            <div onclick="location.href='{% url 'users:vacation_use_list' %}'" class="btn_outline_black w_50" role="button" style="width:120px; border-radius: 4px; margin-right:10px;">취소</div>
        </div>
      </div>
      <div class="col-md-4">
        &nbsp;
       </div>
    </div>
  </div>
</form>

{% block endscript %}
  
{% endblock %}

{% endblock %}


